# Node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# OS-specific
.DS_Store
Thumbs.db

# Environment and config
.env
.env.local
.env.*.local

# IDE/editor configs
.vscode
.idea
*.swp

# Version control
.git
.gitignore

# Docker-related
.dockerignore
Dockerfile

# Misc
*.log
coverage